#blog_main img {width: 100%; height: auto; margin: 0 auto; max-width: 400px;}
#blog_main #img2 {width: 40%; display: flex; justify-content: space-between; flex-flow: column;}
#blog_main #img2 img {width: 40%;}
#blog_main img.fullsize {width: 100%; height: auto; margin: 0 auto;}

#blog_main .table {overflow-x: auto; width: 100%; margin: 10px 0;}
#blog_main table {border-collapse: collapse; overflow-x: auto; text-align: center;}
#blog_main table th {background: #efefef;}
#blog_main table th,
#blog_main table td {border: 1px solid #909090; padding: 0; margin: 0; width: auto; min-width: 100px; padding: 3px 10px;}

#blog_main blockquote{ position:relative; background-color: #efefef; border:2px solid #b1b1b1; border-radius:10px; padding:20px; width: calc(100% - 40px);}
#blog_main blockquote p,
#blog_main blockquote a {margin: 20px;}
#blog_main blockquote:before{
  position:absolute; content: url(/icon/quotation.png); display: inline-block; vertical-align: middle;
  -webkit-transform: scale(0.35) rotate(180deg);
  transform: scale(0.35) rotate(180deg);
  font-size: 20px; color:#8BC0B8;
  top:-10px; left:5px;
}
#blog_main blockquote:after{position:absolute;
  content: url(/icon/quotation.png); display: inline-block; vertical-align: middle;
  -webkit-transform: scale(0.35); transform: scale(0.35);
  font-size: 20px; color:#8BC0B8; right:10px; bottom:-15px;
}
#blog_main blockquote cite {display: block; font-size: 0.8rem; text-align: right; color: #D4DED7; margin: 5px 5px 10px 5px; padding-right:20px;}

#blog_main .youtube {position: relative; width: 100%; padding-top: 56.25%; max-width: 704px; max-height: 396px; display: block; margin: 0 auto;}
#blog_main .youtube iframe {position: absolute; top: 0; right: 0; width: 100%; height: 100%;}

#blog_main a.link_og {width: calc(70% - 20px); display: flex; margin: 0 auto; border: solid 2px #b3b3b3; border-radius: 10px; z-index: 4;}
#blog_main a.link_og img {width: 30%; height: 100%; margin: 0; border-radius: 7px 0 0 7px; z-index: 3;}
#blog_main a.link_og .link_og_data {display: block; width: calc(70% - 10px); margin: 0; margin: 10px;}
#blog_main a.link_og p {margin: 0;}
#blog_main a.link_og p.link_og_url {font-size: 0.5em;}
