{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
    <h3>おすすめ記事</h3>
    <section id="relatedWrap">
        {{ range . }}
        <div class="blog_link">
			<a href="{{ .Permalink }}">
				<p class="tags">
				{{ if .Params.tags }}
				{{ partial "tag_top" .Params.tags }}
				{{ end }}
				</p>
				<h3>{{ .Title }}{{ partial "taxonomies_count" . }}</h3>
				<p class="date">{{ .Date.Format "2006 1/2" }}</p>
			</a>
		</div>
        {{ end }}
    </section>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7630389826147489"
		crossorigin="anonymous"></script>
	<ins class="adsbygoogle"
		style="display:block; max-height: 300px;"
		data-ad-format="fluid"
		data-ad-layout-key="-6r+di+5g-2m-8y"
		data-ad-client="ca-pub-7630389826147489"
		data-ad-slot="1747850885"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
{{ end }}