{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
    <h3>おすすめ記事</h3>
    <section id="relatedWrap">
        {{ range . }}
        <div class="blog_link">
			<a href="{{ .Permalink }}">
				<p class="tags">
				{{ if .Params.tags }}
				{{ partial "tag_top" .Params.tags }}
				{{ end }}
				</p>
				<h3>{{ .Title }}{{ partial "taxonomies_count" . }}</h3>
				<p class="date">{{ .Date.Format "2006 1/2" }}</p>
			</a>
		</div>
        {{ end }}
        <div class="blog_link">
			<p class="tags">
				<span>AD</span>
			</p>
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7630389826147489"
				crossorigin="anonymous"></script>
			<ins class="adsbygoogle"
				style="display:block"
				data-ad-format="fluid"
				data-ad-layout-key="-6t+ed+2i-1n-4w"
				data-ad-client="ca-pub-7630389826147489"
				data-ad-slot="4422293296"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
    </section>
{{ end }}