<div id="writer">
  <h2>書いた人</h2>
  <div id="writer_wrap">
    <picture  id="writer_icon">
     <source srcset="/images/saladbowl-icon.webp" type="image/webp">
     <img src="/images/saladbowl-icon.png" alt="さらだぼぉるの画像">
    </picture>
    <div id="writer_data">
      <p id="writer_name">さらだぼぉる</p>
      <p id="writer_about">どこにでもいる男子高校生。できる言語はHTML CSS JavScript PHP など。JavaScriptをもっと真面目にやりたいと思っていたりする。</p>
      <p id="writer_twiter"><a href="https://twitter.com/saladbowl_sub">Twitter(@saladbowl_sub)</a></p>
    </div>
  </div>
</div>
